* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    margin: 40px 0;
    font-size: 16px;
}

.nav {
    display: block;
    height: 100vh;
    border-right: 1px solid black;
}

.nav__section {
    display: block !important;
}

.nav__title {
    margin: 20px 0;
}

.nav__item {
    margin-left: 35px;
    margin-bottom: 15px;
}

.nav__link:active {
    font-weight: 600;
}